<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.carMapper">
	<resultMap id="BaseResultMap" type="com.accp.pojo.car">
		<result column="numbercar" property="numbercar" jdbcType="VARCHAR" />
		<result column="brands" property="brands" jdbcType="VARCHAR" />
		<result column="typecar" property="typecar" jdbcType="VARCHAR" />
		<result column="mileage" property="mileage" jdbcType="INTEGER" />
		<result column="teamno" property="teamno" jdbcType="INTEGER" />
		<collection property="li" ofType="com.accp.pojo.team">
			<result column="teamno" property="teamno" jdbcType="INTEGER" />
			<result column="teamname" property="teamname" jdbcType="VARCHAR" />
			<result column="number" property="number" jdbcType="VARCHAR" />
			<result column="artname" property="artname" jdbcType="VARCHAR" />
			<result column="sex" property="sex" jdbcType="VARCHAR" />
			<result column="phone" property="phone" jdbcType="INTEGER" />
			<result column="site" property="site" jdbcType="VARCHAR" />
			<result column="logname" property="logname" jdbcType="VARCHAR" />
			<result column="idcard" property="idcard" jdbcType="VARCHAR" />
			<result column="classno" property="classno" jdbcType="INTEGER" />
			<result column="typeg" property="typeg" jdbcType="VARCHAR" />
			<result column="brands" property="brands" jdbcType="VARCHAR" />
		</collection>
	</resultMap>

	<select id="selectAll" resultType="com.accp.vo.yupengcheng.outCar">
		SELECT numbercar,car.`brand`,typecar,mileage,team.`teamname`
		FROM `car`
		LEFT JOIN `team`
		ON `team`.`teamno`=`car`.`teamno`
	</select>
	
	<insert id="insert">
		INSERT INTO car VALUES(#{car.numbercar},#{car.brands},#{car.typecar},#{car.mileage},#{car.teamno})
	</insert>

	<delete id="deleteByNumbercar">
		delete from car where numbercar=#{numbercar}

	</delete>

	<insert id="insertSelective" parameterType="com.accp.pojo.car">
		insert into car
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="numbercar != null">
				numbercar,
			</if>
			<if test="brands != null">
				brands,
			</if>
			<if test="typecar != null">
				typecar,
			</if>
			<if test="mileage != null">
				mileage,
			</if>
			<if test="teamno != null">
				teamno,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="numbercar != null">
				#{numbercar,jdbcType=VARCHAR},
			</if>
			<if test="brands != null">
				#{brands,jdbcType=VARCHAR},
			</if>
			<if test="typecar != null">
				#{typecar,jdbcType=VARCHAR},
			</if>
			<if test="mileage != null">
				#{mileage,jdbcType=INTEGER},
			</if>
			<if test="teamno != null">
				#{teamno,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
</mapper>