<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.classdetailMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.classdetail" >
    <result column="typeid" property="typeid" jdbcType="VARCHAR" />
    <result column="typename" property="typename" jdbcType="VARCHAR" />
    <result column="classid" property="classid" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.accp.pojo.classdetail" >
    insert into classdetail (typeid, typename, classid
      )
    values (#{typeid,jdbcType=VARCHAR}, #{typename,jdbcType=VARCHAR}, #{classid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.classdetail" >
    insert into classdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeid != null" >
        typeid,
      </if>
      <if test="typename != null" >
        typename,
      </if>
      <if test="classid != null" >
        classid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeid != null" >
        #{typeid,jdbcType=VARCHAR},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>