<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.clientMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.client" >
    <id column="clientid" property="clientid" jdbcType="VARCHAR" />
    <result column="clientname" property="clientname" jdbcType="VARCHAR" />
    <result column="clientiphone" property="clientiphone" jdbcType="VARCHAR" />
    <result column="clientaddress" property="clientaddress" jdbcType="VARCHAR" />
    <result column="clientbirthday" property="clientbirthday" jdbcType="DATE" />
    <result column="clientbz" property="clientbz" jdbcType="VARCHAR" />
    <result column="clientlb" property="clientlb" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    clientid, clientname, clientiphone, clientaddress, clientbirthday, clientbz, clientlb
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from client
    where clientid = #{clientid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from client
    where clientid = #{clientid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.client" >
    insert into client (clientid, clientname, clientiphone, 
      clientaddress, clientbirthday, clientbz, 
      clientlb)
    values (#{clientid,jdbcType=VARCHAR}, #{clientname,jdbcType=VARCHAR}, #{clientiphone,jdbcType=VARCHAR}, 
      #{clientaddress,jdbcType=VARCHAR}, #{clientbirthday,jdbcType=DATE}, #{clientbz,jdbcType=VARCHAR}, 
      #{clientlb,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.client" >
    insert into client
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clientid != null" >
        clientid,
      </if>
      <if test="clientname != null" >
        clientname,
      </if>
      <if test="clientiphone != null" >
        clientiphone,
      </if>
      <if test="clientaddress != null" >
        clientaddress,
      </if>
      <if test="clientbirthday != null" >
        clientbirthday,
      </if>
      <if test="clientbz != null" >
        clientbz,
      </if>
      <if test="clientlb != null" >
        clientlb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clientid != null" >
        #{clientid,jdbcType=VARCHAR},
      </if>
      <if test="clientname != null" >
        #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="clientiphone != null" >
        #{clientiphone,jdbcType=VARCHAR},
      </if>
      <if test="clientaddress != null" >
        #{clientaddress,jdbcType=VARCHAR},
      </if>
      <if test="clientbirthday != null" >
        #{clientbirthday,jdbcType=DATE},
      </if>
      <if test="clientbz != null" >
        #{clientbz,jdbcType=VARCHAR},
      </if>
      <if test="clientlb != null" >
        #{clientlb,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.client" >
    update client
    <set >
      <if test="clientname != null" >
        clientname = #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="clientiphone != null" >
        clientiphone = #{clientiphone,jdbcType=VARCHAR},
      </if>
      <if test="clientaddress != null" >
        clientaddress = #{clientaddress,jdbcType=VARCHAR},
      </if>
      <if test="clientbirthday != null" >
        clientbirthday = #{clientbirthday,jdbcType=DATE},
      </if>
      <if test="clientbz != null" >
        clientbz = #{clientbz,jdbcType=VARCHAR},
      </if>
      <if test="clientlb != null" >
        clientlb = #{clientlb,jdbcType=VARCHAR},
      </if>
    </set>
    where clientid = #{clientid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.client" >
    update client
    set clientname = #{clientname,jdbcType=VARCHAR},
      clientiphone = #{clientiphone,jdbcType=VARCHAR},
      clientaddress = #{clientaddress,jdbcType=VARCHAR},
      clientbirthday = #{clientbirthday,jdbcType=DATE},
      clientbz = #{clientbz,jdbcType=VARCHAR},
      clientlb = #{clientlb,jdbcType=VARCHAR}
    where clientid = #{clientid,jdbcType=VARCHAR}
  </update>
</mapper>