<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.dimissionMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.dimission" >
    <id column="dimissionid" property="dimissionid" jdbcType="VARCHAR" />
    <result column="dimissiontime" property="dimissiontime" jdbcType="DATE" />
    <result column="dimissioncause" property="dimissioncause" jdbcType="VARCHAR" />
    <result column="dimissionname" property="dimissionname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dimissionid, dimissiontime, dimissioncause, dimissionname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dimission
    where dimissionid = #{dimissionid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dimission
    where dimissionid = #{dimissionid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.dimission" >
    insert into dimission (dimissionid, dimissiontime, dimissioncause, 
      dimissionname)
    values (#{dimissionid,jdbcType=VARCHAR}, #{dimissiontime,jdbcType=DATE}, #{dimissioncause,jdbcType=VARCHAR}, 
      #{dimissionname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.dimission" >
    insert into dimission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dimissionid != null" >
        dimissionid,
      </if>
      <if test="dimissiontime != null" >
        dimissiontime,
      </if>
      <if test="dimissioncause != null" >
        dimissioncause,
      </if>
      <if test="dimissionname != null" >
        dimissionname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dimissionid != null" >
        #{dimissionid,jdbcType=VARCHAR},
      </if>
      <if test="dimissiontime != null" >
        #{dimissiontime,jdbcType=DATE},
      </if>
      <if test="dimissioncause != null" >
        #{dimissioncause,jdbcType=VARCHAR},
      </if>
      <if test="dimissionname != null" >
        #{dimissionname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.dimission" >
    update dimission
    <set >
      <if test="dimissiontime != null" >
        dimissiontime = #{dimissiontime,jdbcType=DATE},
      </if>
      <if test="dimissioncause != null" >
        dimissioncause = #{dimissioncause,jdbcType=VARCHAR},
      </if>
      <if test="dimissionname != null" >
        dimissionname = #{dimissionname,jdbcType=VARCHAR},
      </if>
    </set>
    where dimissionid = #{dimissionid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.dimission" >
    update dimission
    set dimissiontime = #{dimissiontime,jdbcType=DATE},
      dimissioncause = #{dimissioncause,jdbcType=VARCHAR},
      dimissionname = #{dimissionname,jdbcType=VARCHAR}
    where dimissionid = #{dimissionid,jdbcType=VARCHAR}
  </update>
</mapper>