<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.engineMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.engine" >
    <id column="engineid" property="engineid" jdbcType="VARCHAR" />
    <result column="enginename" property="enginename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    engineid, enginename
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from engine
    where engineid = #{engineid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from engine
    where engineid = #{engineid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.engine" >
    insert into engine (engineid, enginename)
    values (#{engineid,jdbcType=VARCHAR}, #{enginename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.engine" >
    insert into engine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="engineid != null" >
        engineid,
      </if>
      <if test="enginename != null" >
        enginename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="engineid != null" >
        #{engineid,jdbcType=VARCHAR},
      </if>
      <if test="enginename != null" >
        #{enginename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.engine" >
    update engine
    <set >
      <if test="enginename != null" >
        enginename = #{enginename,jdbcType=VARCHAR},
      </if>
    </set>
    where engineid = #{engineid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.engine" >
    update engine
    set enginename = #{enginename,jdbcType=VARCHAR}
    where engineid = #{engineid,jdbcType=VARCHAR}
  </update>
</mapper>