<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress ALL -->
<mapper namespace="com.accp.dao.maintainsMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.maintains" >
    <id column="wxorders" property="wxorders" jdbcType="VARCHAR" />
    <result column="xmName" property="itemName" jdbcType="VARCHAR" />
    <result column="priceLei" property="pricelei" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="gzText" property="gztext" jdbcType="VARCHAR" />
    <result column="gzCause" property="gzcause" jdbcType="VARCHAR" />
    <result column="wxgroup" property="wxgroup" jdbcType="VARCHAR" />
    <result column="xmCoding" property="coding"/>
  </resultMap>
</mapper>