<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.maintainsMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.maintains" >
    <id column="wxorders" property="wxorders" jdbcType="VARCHAR" />
    <result column="xmName" property="xmname" jdbcType="VARCHAR" />
    <result column="priceLei" property="pricelei" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="gzText" property="gztext" jdbcType="VARCHAR" />
    <result column="gzCause" property="gzcause" jdbcType="VARCHAR" />
    <result column="wxgroup" property="wxgroup" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    wxorders, xmName, priceLei, num, gzText, gzCause, wxgroup
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from maintains
    where wxorders = #{wxorders,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from maintains
    where wxorders = #{wxorders,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.maintains" >
    insert into maintains (wxorders, xmName, priceLei, 
      num, gzText, gzCause, 
      wxgroup)
    values (#{wxorders,jdbcType=VARCHAR}, #{xmname,jdbcType=VARCHAR}, #{pricelei,jdbcType=VARCHAR}, 
      #{num,jdbcType=INTEGER}, #{gztext,jdbcType=VARCHAR}, #{gzcause,jdbcType=VARCHAR}, 
      #{wxgroup,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.maintains" >
    insert into maintains
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wxorders != null" >
        wxorders,
      </if>
      <if test="xmname != null" >
        xmName,
      </if>
      <if test="pricelei != null" >
        priceLei,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="gztext != null" >
        gzText,
      </if>
      <if test="gzcause != null" >
        gzCause,
      </if>
      <if test="wxgroup != null" >
        wxgroup,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wxorders != null" >
        #{wxorders,jdbcType=VARCHAR},
      </if>
      <if test="xmname != null" >
        #{xmname,jdbcType=VARCHAR},
      </if>
      <if test="pricelei != null" >
        #{pricelei,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="gztext != null" >
        #{gztext,jdbcType=VARCHAR},
      </if>
      <if test="gzcause != null" >
        #{gzcause,jdbcType=VARCHAR},
      </if>
      <if test="wxgroup != null" >
        #{wxgroup,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.maintains" >
    update maintains
    <set >
      <if test="xmname != null" >
        xmName = #{xmname,jdbcType=VARCHAR},
      </if>
      <if test="pricelei != null" >
        priceLei = #{pricelei,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="gztext != null" >
        gzText = #{gztext,jdbcType=VARCHAR},
      </if>
      <if test="gzcause != null" >
        gzCause = #{gzcause,jdbcType=VARCHAR},
      </if>
      <if test="wxgroup != null" >
        wxgroup = #{wxgroup,jdbcType=VARCHAR},
      </if>
    </set>
    where wxorders = #{wxorders,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.maintains" >
    update maintains
    set xmName = #{xmname,jdbcType=VARCHAR},
      priceLei = #{pricelei,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      gzText = #{gztext,jdbcType=VARCHAR},
      gzCause = #{gzcause,jdbcType=VARCHAR},
      wxgroup = #{wxgroup,jdbcType=VARCHAR}
    where wxorders = #{wxorders,jdbcType=VARCHAR}
  </update>
</mapper>