<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.motorcycleMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.motorcycle" >
    <id column="motorcycleid" property="motorcycleid" jdbcType="VARCHAR" />
    <result column="motorcyclepp" property="motorcyclepp" jdbcType="VARCHAR" />
    <result column="motorcyclecxmc" property="motorcyclecxmc" jdbcType="VARCHAR" />
    <result column="motorcyclegc" property="motorcyclegc" jdbcType="VARCHAR" />
    <result column="motorcyclejg" property="motorcyclejg" jdbcType="VARCHAR" />
    <result column="motorcyclegl" property="motorcyclegl" jdbcType="VARCHAR" />
    <result column="motorcyclebh" property="motorcyclebh" jdbcType="VARCHAR" />
    <result column="motorcyclezz" property="motorcyclezz" jdbcType="VARCHAR" />
    <result column="motorcyclefdj" property="motorcyclefdj" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    motorcycleid, motorcyclepp, motorcyclecxmc, motorcyclegc, motorcyclejg, motorcyclegl, 
    motorcyclebh, motorcyclezz, motorcyclefdj
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from motorcycle
    where motorcycleid = #{motorcycleid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from motorcycle
    where motorcycleid = #{motorcycleid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.motorcycle" >
    insert into motorcycle (motorcycleid, motorcyclepp, motorcyclecxmc, 
      motorcyclegc, motorcyclejg, motorcyclegl, 
      motorcyclebh, motorcyclezz, motorcyclefdj
      )
    values (#{motorcycleid,jdbcType=VARCHAR}, #{motorcyclepp,jdbcType=VARCHAR}, #{motorcyclecxmc,jdbcType=VARCHAR}, 
      #{motorcyclegc,jdbcType=VARCHAR}, #{motorcyclejg,jdbcType=VARCHAR}, #{motorcyclegl,jdbcType=VARCHAR}, 
      #{motorcyclebh,jdbcType=VARCHAR}, #{motorcyclezz,jdbcType=VARCHAR}, #{motorcyclefdj,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.motorcycle" >
    insert into motorcycle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="motorcycleid != null" >
        motorcycleid,
      </if>
      <if test="motorcyclepp != null" >
        motorcyclepp,
      </if>
      <if test="motorcyclecxmc != null" >
        motorcyclecxmc,
      </if>
      <if test="motorcyclegc != null" >
        motorcyclegc,
      </if>
      <if test="motorcyclejg != null" >
        motorcyclejg,
      </if>
      <if test="motorcyclegl != null" >
        motorcyclegl,
      </if>
      <if test="motorcyclebh != null" >
        motorcyclebh,
      </if>
      <if test="motorcyclezz != null" >
        motorcyclezz,
      </if>
      <if test="motorcyclefdj != null" >
        motorcyclefdj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="motorcycleid != null" >
        #{motorcycleid,jdbcType=VARCHAR},
      </if>
      <if test="motorcyclepp != null" >
        #{motorcyclepp,jdbcType=VARCHAR},
      </if>
      <if test="motorcyclecxmc != null" >
        #{motorcyclecxmc,jdbcType=VARCHAR},
      </if>
      <if test="motorcyclegc != null" >
        #{motorcyclegc,jdbcType=VARCHAR},
      </if>
      <if test="motorcyclejg != null" >
        #{motorcyclejg,jdbcType=VARCHAR},
      </if>
      <if test="motorcyclegl != null" >
        #{motorcyclegl,jdbcType=VARCHAR},
      </if>
      <if test="motorcyclebh != null" >
        #{motorcyclebh,jdbcType=VARCHAR},
      </if>
      <if test="motorcyclezz != null" >
        #{motorcyclezz,jdbcType=VARCHAR},
      </if>
      <if test="motorcyclefdj != null" >
        #{motorcyclefdj,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.motorcycle" >
    update motorcycle
    <set >
      <if test="motorcyclepp != null" >
        motorcyclepp = #{motorcyclepp,jdbcType=VARCHAR},
      </if>
      <if test="motorcyclecxmc != null" >
        motorcyclecxmc = #{motorcyclecxmc,jdbcType=VARCHAR},
      </if>
      <if test="motorcyclegc != null" >
        motorcyclegc = #{motorcyclegc,jdbcType=VARCHAR},
      </if>
      <if test="motorcyclejg != null" >
        motorcyclejg = #{motorcyclejg,jdbcType=VARCHAR},
      </if>
      <if test="motorcyclegl != null" >
        motorcyclegl = #{motorcyclegl,jdbcType=VARCHAR},
      </if>
      <if test="motorcyclebh != null" >
        motorcyclebh = #{motorcyclebh,jdbcType=VARCHAR},
      </if>
      <if test="motorcyclezz != null" >
        motorcyclezz = #{motorcyclezz,jdbcType=VARCHAR},
      </if>
      <if test="motorcyclefdj != null" >
        motorcyclefdj = #{motorcyclefdj,jdbcType=VARCHAR},
      </if>
    </set>
    where motorcycleid = #{motorcycleid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.motorcycle" >
    update motorcycle
    set motorcyclepp = #{motorcyclepp,jdbcType=VARCHAR},
      motorcyclecxmc = #{motorcyclecxmc,jdbcType=VARCHAR},
      motorcyclegc = #{motorcyclegc,jdbcType=VARCHAR},
      motorcyclejg = #{motorcyclejg,jdbcType=VARCHAR},
      motorcyclegl = #{motorcyclegl,jdbcType=VARCHAR},
      motorcyclebh = #{motorcyclebh,jdbcType=VARCHAR},
      motorcyclezz = #{motorcyclezz,jdbcType=VARCHAR},
      motorcyclefdj = #{motorcyclefdj,jdbcType=VARCHAR}
    where motorcycleid = #{motorcycleid,jdbcType=VARCHAR}
  </update>
</mapper>