<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.mrecordMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.mrecord" >
    <id column="carHno" property="carhno" jdbcType="VARCHAR" />
    <result column="status1" property="status1" jdbcType="VARCHAR" />
    <result column="btype" property="btype" jdbcType="VARCHAR" />
    <result column="rorder" property="rorder" jdbcType="VARCHAR" />
    <result column="orderType" property="ordertype" jdbcType="VARCHAR" />
    <result column="orderTime" property="ordertime" jdbcType="TIMESTAMP" />
    <result column="colsing" property="colsing" jdbcType="VARCHAR" />
    <result column="comstatus" property="comstatus" jdbcType="BOOLEAN"></result>
  </resultMap>
  <select id="QueryMrecordNo" resultType="java.lang.String">
        SELECT REPLACE(rorder,'ER','') er FROM `mrecord` WHERE DATE(orderTime)=DATE(NOW()) ORDER BY er DESC LIMIT 1
  </select>
    <select id="queryPickCar" resultMap="BaseResultMap">
      SELECT * FROM `mrecord` WHERE `status`='接车中' AND carHno=#{carno}
    </select>
  <select id="queryAllm" resultType="com.accp.vo.liutao.vehicleInfo">
      SELECT `status`,`comstatus`,`btype`,`clientname`,`carHno`,`clientiphone`,`rorder`,`orderType`,`orderTime`,`expectedCompletion`,`complterTime`,`colsing`,`consultant` FROM `mrecord`
      LEFT JOIN `pickcar` ON `mrecord`.`rorder`=`pickcar`.`wx`
      LEFT JOIN `vehicle` ON `mrecord`.`carHno`=`vehicle`.`vehiclecp`
      LEFT JOIN `client` ON `vehicle`.`vehiclefname`=`client`.`clientid`
      GROUP BY `pickcar`.`wx` ORDER BY  `pickcar`.`complterTime`
  </select>
    <update id="comAccp">
        UPDATE `pickcar` SET complterTime=NOW() WHERE wx=#{eno};
        UPDATE `mrecord` SET comstatus=1 WHERE rorder=#{eno};
        UPDATE `mrecord` SET `status`='空闲' WHERE rorder=#{eno};
    </update>

</mapper>