<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.PdetailsMapper">
  <resultMap id="BaseResultMap" type="com.accp.pojo.Pdetails">
    <!--@mbg.generated-->
    <!--@Table pdetails-->
    <id column="detailno" jdbcType="VARCHAR" property="detailno" />
    <result column="projectChild" jdbcType="VARCHAR" property="projectchild" />
    <result column="projectNo" jdbcType="VARCHAR" property="projectno" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    detailno, projectChild, projectNo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pdetails
    where detailno = #{detailno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from pdetails
    where detailno = #{detailno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.Pdetails">
    <!--@mbg.generated-->
    insert into pdetails (detailno, projectChild, projectNo
      )
    values (#{detailno,jdbcType=VARCHAR}, #{projectchild,jdbcType=VARCHAR}, #{projectno,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.Pdetails">
    <!--@mbg.generated-->
    insert into pdetails
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="detailno != null">
        detailno,
      </if>
      <if test="projectchild != null">
        projectChild,
      </if>
      <if test="projectno != null">
        projectNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="detailno != null">
        #{detailno,jdbcType=VARCHAR},
      </if>
      <if test="projectchild != null">
        #{projectchild,jdbcType=VARCHAR},
      </if>
      <if test="projectno != null">
        #{projectno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.Pdetails">
    <!--@mbg.generated-->
    update pdetails
    <set>
      <if test="projectchild != null">
        projectChild = #{projectchild,jdbcType=VARCHAR},
      </if>
      <if test="projectno != null">
        projectNo = #{projectno,jdbcType=VARCHAR},
      </if>
    </set>
    where detailno = #{detailno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.Pdetails">
    <!--@mbg.generated-->
    update pdetails
    set projectChild = #{projectchild,jdbcType=VARCHAR},
      projectNo = #{projectno,jdbcType=VARCHAR}
    where detailno = #{detailno,jdbcType=VARCHAR}
  </update>
</mapper>