<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.rescueMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.rescue" >
    <id column="carHao" property="carhao" jdbcType="VARCHAR" />
    <result column="businessType" property="businesstype" jdbcType="VARCHAR" />
    <result column="gooff" property="gooff" jdbcType="TIMESTAMP" />
    <result column="goaddress" property="goaddress" jdbcType="VARCHAR" />
    <result column="driveCar" property="drivecar" jdbcType="VARCHAR" />
    <result column="shigongTime" property="shigongtime" jdbcType="TIMESTAMP" />
    <result column="succordz" property="succordz" jdbcType="VARCHAR" />
    <result column="wangTime" property="wangtime" jdbcType="TIMESTAMP" />
    <result column="estimate" property="estimate" jdbcType="VARCHAR" />
    <result column="mNote" property="mnote" jdbcType="VARCHAR" />
    <result column="statement" property="statement" jdbcType="VARCHAR" />
    <result column="driver" property="driver" jdbcType="VARCHAR" />
    <result column="driverTele" property="drivertele" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    carHao, businessType, gooff, goaddress, driveCar, shigongTime, succordz, wangTime, 
    estimate, mNote, statement, driver, driverTele
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rescue
    where carHao = #{carhao,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rescue
    where carHao = #{carhao,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.rescue" >
    insert into rescue (carHao, businessType, gooff, 
      goaddress, driveCar, shigongTime, 
      succordz, wangTime, estimate, 
      mNote, statement, driver, 
      driverTele)
    values (#{carhao,jdbcType=VARCHAR}, #{businesstype,jdbcType=VARCHAR}, #{gooff,jdbcType=TIMESTAMP}, 
      #{goaddress,jdbcType=VARCHAR}, #{drivecar,jdbcType=VARCHAR}, #{shigongtime,jdbcType=TIMESTAMP}, 
      #{succordz,jdbcType=VARCHAR}, #{wangtime,jdbcType=TIMESTAMP}, #{estimate,jdbcType=VARCHAR}, 
      #{mnote,jdbcType=VARCHAR}, #{statement,jdbcType=VARCHAR}, #{driver,jdbcType=VARCHAR}, 
      #{drivertele,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.rescue" >
    insert into rescue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carhao != null" >
        carHao,
      </if>
      <if test="businesstype != null" >
        businessType,
      </if>
      <if test="gooff != null" >
        gooff,
      </if>
      <if test="goaddress != null" >
        goaddress,
      </if>
      <if test="drivecar != null" >
        driveCar,
      </if>
      <if test="shigongtime != null" >
        shigongTime,
      </if>
      <if test="succordz != null" >
        succordz,
      </if>
      <if test="wangtime != null" >
        wangTime,
      </if>
      <if test="estimate != null" >
        estimate,
      </if>
      <if test="mnote != null" >
        mNote,
      </if>
      <if test="statement != null" >
        statement,
      </if>
      <if test="driver != null" >
        driver,
      </if>
      <if test="drivertele != null" >
        driverTele,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carhao != null" >
        #{carhao,jdbcType=VARCHAR},
      </if>
      <if test="businesstype != null" >
        #{businesstype,jdbcType=VARCHAR},
      </if>
      <if test="gooff != null" >
        #{gooff,jdbcType=TIMESTAMP},
      </if>
      <if test="goaddress != null" >
        #{goaddress,jdbcType=VARCHAR},
      </if>
      <if test="drivecar != null" >
        #{drivecar,jdbcType=VARCHAR},
      </if>
      <if test="shigongtime != null" >
        #{shigongtime,jdbcType=TIMESTAMP},
      </if>
      <if test="succordz != null" >
        #{succordz,jdbcType=VARCHAR},
      </if>
      <if test="wangtime != null" >
        #{wangtime,jdbcType=TIMESTAMP},
      </if>
      <if test="estimate != null" >
        #{estimate,jdbcType=VARCHAR},
      </if>
      <if test="mnote != null" >
        #{mnote,jdbcType=VARCHAR},
      </if>
      <if test="statement != null" >
        #{statement,jdbcType=VARCHAR},
      </if>
      <if test="driver != null" >
        #{driver,jdbcType=VARCHAR},
      </if>
      <if test="drivertele != null" >
        #{drivertele,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.rescue" >
    update rescue
    <set >
      <if test="businesstype != null" >
        businessType = #{businesstype,jdbcType=VARCHAR},
      </if>
      <if test="gooff != null" >
        gooff = #{gooff,jdbcType=TIMESTAMP},
      </if>
      <if test="goaddress != null" >
        goaddress = #{goaddress,jdbcType=VARCHAR},
      </if>
      <if test="drivecar != null" >
        driveCar = #{drivecar,jdbcType=VARCHAR},
      </if>
      <if test="shigongtime != null" >
        shigongTime = #{shigongtime,jdbcType=TIMESTAMP},
      </if>
      <if test="succordz != null" >
        succordz = #{succordz,jdbcType=VARCHAR},
      </if>
      <if test="wangtime != null" >
        wangTime = #{wangtime,jdbcType=TIMESTAMP},
      </if>
      <if test="estimate != null" >
        estimate = #{estimate,jdbcType=VARCHAR},
      </if>
      <if test="mnote != null" >
        mNote = #{mnote,jdbcType=VARCHAR},
      </if>
      <if test="statement != null" >
        statement = #{statement,jdbcType=VARCHAR},
      </if>
      <if test="driver != null" >
        driver = #{driver,jdbcType=VARCHAR},
      </if>
      <if test="drivertele != null" >
        driverTele = #{drivertele,jdbcType=VARCHAR},
      </if>
    </set>
    where carHao = #{carhao,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.rescue" >
    update rescue
    set businessType = #{businesstype,jdbcType=VARCHAR},
      gooff = #{gooff,jdbcType=TIMESTAMP},
      goaddress = #{goaddress,jdbcType=VARCHAR},
      driveCar = #{drivecar,jdbcType=VARCHAR},
      shigongTime = #{shigongtime,jdbcType=TIMESTAMP},
      succordz = #{succordz,jdbcType=VARCHAR},
      wangTime = #{wangtime,jdbcType=TIMESTAMP},
      estimate = #{estimate,jdbcType=VARCHAR},
      mNote = #{mnote,jdbcType=VARCHAR},
      statement = #{statement,jdbcType=VARCHAR},
      driver = #{driver,jdbcType=VARCHAR},
      driverTele = #{drivertele,jdbcType=VARCHAR}
    where carHao = #{carhao,jdbcType=VARCHAR}
  </update>
</mapper>