<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.lirui.postMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.lirui.post" >
    <id column="postid" property="postid" jdbcType="VARCHAR" />
    <result column="postname" property="postname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    postid, postname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from post
    where postid = #{postid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from post
    where postid = #{postid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.lirui.post" >
    insert into post (postid, postname)
    values (#{postid,jdbcType=VARCHAR}, #{postname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.lirui.post" >
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postid != null" >
        postid,
      </if>
      <if test="postname != null" >
        postname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postid != null" >
        #{postid,jdbcType=VARCHAR},
      </if>
      <if test="postname != null" >
        #{postname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.lirui.post" >
    update post
    <set >
      <if test="postname != null" >
        postname = #{postname,jdbcType=VARCHAR},
      </if>
    </set>
    where postid = #{postid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.lirui.post" >
    update post
    set postname = #{postname,jdbcType=VARCHAR}
    where postid = #{postid,jdbcType=VARCHAR}
  </update>
  <select id="selectPostList" resultType="com.accp.pojo.lirui.post">
       select * from post
  </select>
  
  <insert id="addPost" >
    insert into post (postid, postname)
    values (#{record.postid}, #{record.postname})
  </insert>
  
  <select id="selectPostId" resultType="com.accp.pojo.lirui.post">
     select * from post where postid=#{postid}
  </select>
  
  
  <update id="updatePost" parameterType="com.accp.pojo.lirui.post" >
    update post
    <set >
      <if test="postname != null" >
        postname = #{postname,jdbcType=VARCHAR},
      </if>
    </set>
    where postid = #{postid,jdbcType=VARCHAR}
  </update>
</mapper>